<div id="<%= dom_id team %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Team name:</strong>
    <%= team.team_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team owner:</strong>
    <%= team.team_owner %>
  </p>

  <% if team.image.present? %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= team.image %>
  </p>
  <% end %>

  <% if @current_user.present? %>
  <% if action_name != "show" && @current_user.role == 'admin' %>
    <%= link_to "Show this team", team, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this team', edit_team_path(team), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
  <% end %>
</div>
