<div id="<%= dom_id team %>">
  <tbody>
    <tr class="bg-white border-b border-gray-700">
      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
        <%= image_tag(team.team_avatar, class: "w-10 h-10 rounded-full", alt: "Edit Entry") %>
      </th>
      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
        <%= team.team_name %>
      </th>
      <td class="py-4 px-6 text-gray-900">
        <%= team.team_owner %>
      </td>
      <td class="py-4 px-6">
        <%= link_to_if @current_user.present?, "Edit", edit_team_path(team), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
      </td>
    </tr>
  </tbody>
</div>
