<%= form_with(model: power_ranking, class: "contents") do |form| %>
  <% if power_ranking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(power_ranking.errors.count, "error") %> prohibited this power_ranking from being saved:</h2>

      <ul>
        <% power_ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit value: 'Save', class: "rounded-lg mt-5 py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
  </div>

  <% unless params['action'] = 'edit' %>
    <div class="grid grid-cols-2 gap-1 content-center">
      <div class="my-5 w-1">
        <%= form.label :week %>
        <%= form.number_field :week, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
      </div>
    
      <div class="my-5 w-1">
        <%= form.label :year %>
        <%= form.number_field :year, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
      </div>
    </div>
  <% end %>
<% end %>
