<%= form_with(model: power_ranking, class: "contents w-full max-w-lg") do |form| %>
  <% if power_ranking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(power_ranking.errors.count, "error") %> prohibited this power_ranking from being saved:</h2>

      <ul>
        <% power_ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="flex flex-wrap -mx-3 mb-6">
    <% if params['action'] == 'new' %>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :week, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.number_field :week, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
      </div>
    
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :year, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.number_field :year, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :avatar, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.file_field :avatar, class: "" %>
      </div>
    <% end %>
  </div>
  <div>
    <button type="submit" class="grid justify-items-center w-1/4 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
      Save
    </button>
  </div>
<% end %>
