<%= form_for power_ranking, class: "contents w-full max-w-lg", html: {multipart: true} do |form| %>
  <% if power_ranking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(power_ranking.errors.count, "error") %> prohibited this power_ranking from being saved:</h2>

      <ul>
        <% power_ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="flex flex-wrap -mx-3 mb-6 mt-5">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :week, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.number_field :week, class: "appearance-none block w-full #{background_color(action: params['action'])} text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
                                     value: power_ranking.nil? ? "" : power_ranking.week, disabled: params['action'] != 'new' %>
      </div>
    
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :year, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.number_field :year, class: "appearance-none block w-full #{background_color(action: params['action'])} text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
                                     value: power_ranking.nil? ? "" : power_ranking.year, disabled: params['action'] != 'new' %>
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :title, 'Title (Optional)', class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.text_field :title, class: "appearance-none block w-full bg-white-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
                                    value: power_ranking.nil? ? "" : power_ranking.title %>
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :introduction_paragraph, 'Introduction Paragraph (Optional)', class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.text_area :introduction_paragraph, class: "appearance-none block w-full bg-white-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white",
                                                    value: power_ranking.nil? ? "" : power_ranking.introduction_paragraph %>
      </div>

      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <%= form.label :avatar, 'Avatar (Optional)', class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <%= form.file_field :avatar %>
      </div>
  </div>
  <div>
    <button type="submit" class="grid justify-items-center w-1/4 py-2 px-4 border border-transparent text-sm font-medium rounded-md mb-2 text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
      Save
    </button>
  </div>
<% end %>
