<% dragActions = "dragstart->drag#dragStart dragover->drag#dragOver dragenter->drag#dragEnter drop->drag#drop dragend->drag#dragEnd" %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Week <%= @power_ranking.week %> Power Ranking</h1>

  <%= render "form", power_ranking: @power_ranking %>

  <%= link_to 'Add New Ranking', new_power_ranking_ranking_path(@power_ranking), class: "mb-5 rounded-lg py-3 px-5 bg-yellow-300 hover:bg-yellow-700 inline-block font-medium" %>
  <%= link_to "Back to Power Ranking", power_ranking_path, class: "mb-5 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

  <div class=" mx-auto w-full">
    <div class="mb-6 pb-2 border-b-2">
      <h2 class="font-bold text-xl">
        Rankings
      </h2>
      <p class="text-gray-700">(drag and drop to reorder rankings)</p>
    </div>
    <ul>
        <div id="rankings">
        <% @rankings.each do |ranking| %>
            <%= content_tag(:div, class: 'bi bi-grip-vertical draggable', draggable: true, data: {
              controller: "drag",
              action: dragActions,
              resource_id: ranking.id,
              url: "/rankings/drag",
              parent: "rankings",
            }) do %>
            <div id="<%= dom_id ranking %>">
              <li class="flex mb-6 border-b border-yellow-500">
                <div class="mr-10 w-full">
                  <% if ranking.avatar.present? %>
                  <%= image_tag ranking.avatar.url,
                      class: 'object-fill mb-2' %>
                    <% end %>
                    <%= button_to "Delete", "/power_rankings/#{@power_ranking.id}/rankings/#{ranking.id}", method: :delete, class: "mb-3 bg-red-500 hover:bg-red-700 text-black-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
                    <%= link_to "Edit", edit_power_ranking_ranking_path(@power_ranking.id, ranking.id), method: :get, class: "bg-yellow-300 hover:bg-yellow-700 text-black-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
                </div>
                <div>
                  <h2 class="font-bold text-lg mb-3"><%= ranking.position %>: <%= ranking.team.team_name %></h2>
                  <p>
                    <%= sanitize(ranking.description) %>
                  </p>
                </div>
              </li>
            </div>
          <% end %>
        <% end %>
      </div>
      </ul>
  </div>
</div>

