<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %> 
    </p>
  <% end %>
  <h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
    Week <%= @power_ranking.week %> Power Rankings, <%= @power_ranking.year %>
  </h1>

  <% if @current_user.present? %>
  <% if @current_user.role == 'admin' %>
    <div class="items-center mb-2">
      <%= link_to edit_label(@power_ranking), edit_power_ranking_path(@power_ranking), class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
      <div class="inline-block ml-2">
        <%= button_to 'Delete this PR', power_ranking_path(@power_ranking), method: :delete, class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
      </div>
    </div>
  <% end %>
  <% end %>

  <div class="mb-5 border-b border-yellow-500">
    <div class="flex justify-center m-auto pb-10 bg-transparent w-100">
        <h1 class="text-black font-serif text-3xl sm:text-1xl"><%= @power_ranking.title %></h1>
    </div>

    <div class="flex justify-center m-auto">
      <% if @power_ranking.avatar.url.present? %>
        <%= image_tag(@power_ranking.avatar.url, class: 'object-contain') %>
      <% end %>
    </div>
    <div class="flex flex-col justify-between p-4 leading-normal">
      <p class="mb-3 font-normal text-black dark:text-black"><%= @power_ranking.introduction_paragraph %></p>
    </div>
  </div>

  <div class="grid grid-cols-1 rounded-r-md mb-10 w-full">
    <% @rankings.each do |ranking| %>
        <div class="flex flex-col mt-10 w-full items-center bg-white rounded-lg border shadow-md md:flex-row dark:border-slate-200 dark:bg-white">
          <% if ranking.avatar.url.present? %>
            <%= image_tag(ranking.avatar.url, class: 'object-cover w-full h-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg') %>
          <% end %>
          <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:to-black"><%= ranking.position %>: <%= ranking.team.team_name%></h5>
              <p class="mb-3 font-normal text-black dark:text-black"><%= sanitize(ranking.description) %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
