<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %> 
    </p>
  <% end %>
  <h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
    Week <%= @power_ranking.week %> Power Rankings, <%= @power_ranking.year %>
  </h1>

  <% if @current_user.role == 'admin' %>
    <div class="items-center">
      <%= link_to edit_label(@power_ranking), edit_power_ranking_path(@power_ranking), class: "w-1/4 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
      <div class="inline-block ml-2">
        <%= button_to 'Delete this PR', power_ranking_path(@power_ranking), method: :delete, class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
      </div>
    </div>
  <% end %>
  
  <ul>
    <% @rankings.each do |ranking| %>
      <% cache ranking do %>
        <li class="flex mb-6">
          <% if ranking.avatar.url.present? %>
            <%= image_tag ranking.avatar.url,
                class: 'object-contain w-40 h-48 shadow mr-6' %>
          <% end %>
          <div>
            <h2 class="font-bold text-lg mb-3"><%= ranking.position %>: <%= ranking.team.team_name %></h2>
            <p>
              <%= sanitize(ranking.description) %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
