<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %> 
    </p>
  <% end %>
  <h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
    Week 1 Power Rankings
  </h1>

  <div class="items-center">
    <%= link_to 'Edit this Power Ranking', edit_power_ranking_path(@power_ranking), class: "mt-2 mb-10 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this Power Ranking', power_ranking_path(@power_ranking), method: :delete, class: "mt-2 mb-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to Power Ranking', power_rankings_path, class: "ml-2 mb-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
  
  <ul>
    <% cache @rankings do %>
      <% @rankings.each do |ranking| %>
        <% cache ranking do %>
          <li class="flex mb-6">
            <%= image_tag ranking.avatar.url,
              class: 'object-contain w-40 h-48 shadow mr-6' %>
            <div>
              <h2 class="font-bold text-lg mb-3"><%= ranking.position %>: <%= ranking.team.team_name %></h2>
              <p>
                <%= sanitize(ranking.description) %>
              </p>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  </div>
