<%= form_for [@power_ranking, @ranking] do |form| %>
  <% if ranking.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless params[:action] == 'edit' %>
  <div class="my-5">
      <%= form.label :team_name %>
      <%= form.collection_select :team_id, @teams, :id, :team_name %>
  </div>
  <% end %>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, class: "block p-2.5 w-full text-black text-sm bg-white-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="my-5">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: "ml-0 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Back to Power Ranking", edit_power_ranking_path(@power_ranking.id), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
