<div id="<%= dom_id ranking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Rank number:</strong>
    <%= ranking.rank_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= ranking.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= ranking.team_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= ranking.position %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ranking", ranking, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this ranking', edit_ranking_path(ranking), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
