<div class="w-screen h-screen">
  <div class="grid grid-cols-1 mb-5 border-b border-yellow-500">
    <div class="col-span-1 m-auto bg-transparent justify-items-center w-100">
      <h1 class="font-mono text-4xl text-gray-700 sm:text-1xl mt">Our Champions</h1>
    </div>
  </div>
  <div class="grid w-full grid-cols-1 m-auto rounded-r-md">
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <%= image_tag('mr_texas_ymwhb.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2022 - Mr. Alexis Texas</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">Mr. Alexis Texas <strong>138.16</strong> - Orkins Pest Control <strong>54.10</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">Mr. Alexis Texas AKA Spock captures his first YMWHB ring taking down the evil empire, OPC.</p>
        </div>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2021 - Orkins Pest Control (2x)</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">OPC <strong>163.70</strong> - Slammers <strong>127.49</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">OPC (back to back championship appearance) defeats Slammers to get his second YMWHB Ring.</p>
        </div>
        <%= image_tag('OrkinPestControl.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <%= image_tag('savage_nomads.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2020 - Savage Nomads</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">Savage Nomads <strong>127.54</strong> - OPC <strong>115.20</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">The Nomads get their first ring (back to back championship appearance) and stomp out OPC's chances at a second</p>
        </div>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2019 - Dolphin Boys</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">Dolphin Boys <strong>99.36</strong> - Savage Nomads <strong>91.86</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">The Dolphin Boys edge out Nomads to get their first championship ring.</p>
        </div>
        <%= image_tag('dolphin_boys.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <%= image_tag('OrkinPestControl.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2018 - Orkins Pest Control</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">Orkins Pest Control <strong>127.98</strong> - Ham Steak <strong>109.66</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">OPC takes down Ham Steak's chances at a second ring to get his first.</p>
        </div>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2017 - OTB Herbie Lovebug</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">OTB Herbie Lovebug <strong>138.32</strong> - Slammers <strong>62.76</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">Lovebug shows no mercy against Slammers (then Resurgence) to get their first ring.</p>
        </div>
        <%= image_tag('herbie.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <%= image_tag('ham_steak.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2016 - Ham Steak</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">Ham Steak <strong>114.58</strong> - Red Man Go Squad <strong>96.28</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">The future commish (back to back championship appearance) takes down our beloved RMGS for his first ring.</p>
        </div>
      </div>
      <div class="flex justify-center w-full h-full gap-4 m-auto">
        <div class="grid content-center">        
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-black">2015 - Khanvicts</h5>
          <h6 class="mb-2 text-xl tracking-tight text-center text-black">Khanvicts <strong>118.32</strong> - Ham Steak <strong>80.38</strong></h6>
          <p class="mb-3 font-normal text-center text-gray-700 break-all dark:text-gray-400">Khanvicts takes down Ham Steak in the leagues first championship matchup and first beat down.</p>
        </div>
        <%= image_tag('khan.png', class: 'md:rounded-xl object-contain w-64 h-64') %>
      </div>
  </div>
</div>