<div class="h-screen w-screen">
  <div class="grid grid-cols-1 mb-5 border-b border-yellow-500">
    <div class="col-span-1 justify-items-center m-auto bg-transparent w-100">
      <h1 class="text-gray-700 text-4xl sm:text-1xl font-mono mt">Power Rankings</h1>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 rounded-r-md">
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Orkins Pest Control</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2021 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">OPC (back to back championship appearance) defeats Slammers to get his second YMWHB Ring by a score of 163.70 to 127.49</p>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Savage Nomads</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2020 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The Nomads get their first ring (back to back championship appearance) and stomp out OPC's chances at a second by a score of 127.54 to 115.20</p>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Dolphin Boys</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2019 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The Dolphin Boys edge out Nomads by a score of 99.36 to 91.86</p>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Orkins Pest Control</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2018 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">OPC takes down Ham Steaks chances at a second ring to get his first by a beat down of 127.98 to 109.66</p>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">OTB Herbie Lovebug</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2017 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lovebug shows no mercy against Slammers (then Resurgence) by a score of 138.32 to a sad 62.76</p>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Ham Steak</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2016 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The future commish (back to back championship appearance) takes down our beloved RMGS for his first ring by a score of 114.58 to 96.28</p>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-slate-200 rounded-lg border m-auto border-gray-100 shadow-lg dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Khanvicts</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2015 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Khanvicts takes down Ham Steak in the leagues first championship matchup and first beat down by a score of 118.32 to 80.38</p>
      </div>
    </div>
  </div>
</div>