<div class="w-screen h-screen">
  <div class="grid grid-cols-1 mb-5 border-b border-yellow-500">
    <div class="col-span-1 m-auto bg-transparent justify-items-center w-100">
      <h1 class="font-mono text-4xl text-gray-700 sm:text-1xl mt">Our Champions</h1>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 rounded-r-md">
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('mr_texas_ymwhb.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Mr. Alexis Texas</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2022 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Mr. Alexis Texas AKA Spock captures his first YMWHB ring taking down the evil empire OPC.</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Orkins Pest Control</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2021 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">OPC (back to back championship appearance) defeats Slammers to get his second YMWHB Ring by a score of 163.70 to 127.49</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('savage_nomads.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Savage Nomads</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2020 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The Nomads get their first ring (back to back championship appearance) and stomp out OPC's chances at a second by a score of 127.54 to 115.20</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('dolphin_boys.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Dolphin Boys</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2019 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The Dolphin Boys edge out Nomads by a score of 99.36 to 91.86</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('OrkinPestControl.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Orkins Pest Control</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2018 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">OPC takes down Ham Steaks chances at a second ring to get his first by a beat down of 127.98 to 109.66</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('herbie.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">OTB Herbie Lovebug</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2017 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lovebug shows no mercy against Slammers (then Resurgence) by a score of 138.32 to a sad 62.76</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('ham_steak.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Ham Steak</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2016 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">The future commish (back to back championship appearance) takes down our beloved RMGS for his first ring by a score of 114.58 to 96.28</p>
      </div>
    </div>
    <div class="h-full max-w-sm col-span-1 m-auto border border-gray-100 rounded-lg shadow-lg lg:col-span-1 md:col-span-1 bg-slate-200 dark:bg-slate-200 dark:border-gray-100">
      <%= image_tag('khan.png', class: 'rounded-t-lg m-auto') %>
      <div class="p-5">
          <h5 class="mb-2 mb-5 text-2xl font-bold tracking-tight text-black">Khanvicts</h5>
          <h6 class="mb-2 font-bold tracking-tight text-gray-800 text-1xl">2015 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Khanvicts takes down Ham Steak in the leagues first championship matchup and first beat down by a score of 118.32 to 80.38</p>
      </div>
    </div>
  </div>
</div>