<div class="h-screen w-screen">
  <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 mb-5 border-b border-yellow-500 lg:m-auto md:m-auto m-auto">
    <div class="col-span-1 lg:col-span-1 md:col-span-1 justify-items-center m-auto pb-10 bg-transparent w-100">
        <h1 class="text-yellow-500 font-serif text-8xl">YMWHB</h1>
        <h2 class="text-yellow-500 justify-center w-fit m-auto">EST. 2015</h2>
    </div>

    <div class="col-span-1 lg:col-span-1 md:col-span-1 m-auto">
      <%= image_tag('logo.png', size: "225x225", class: 'object-contain') %>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 rounded-r-md">
    <% if @power_ranking.present? && @power_ranking.has_rankings?%>
    <div class="col-span-1 lg:col-span-1 md:col-span-1 mb-5 max-w-sm h-full m-auto bg-white rounded-lg border border-gray-100 shadow-lg">
      <div class="p-5">
        <%= image_tag(@power_ranking.pr_avatar, class: 'rounded-lg m-auto') %>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-black">Week <%= @power_ranking.week %> Power Rankings</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800"><%= @power_ranking.year %></h6>
          <a href="<%= power_ranking_path(@power_ranking.id)%>" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
              Read
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
      </div>
    </div>
    <% end %>

    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-white rounded-lg border m-auto border-gray-100 shadow-lg">
      <div class="p-5">
        <%= image_tag('OrkinPestControl.png', class: 'rounded-lg m-auto') %>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Orkins Pest Control</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">2021 Champion</h6>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">OPC defeats Slammers to get his second YMWHB Ring</p>
      </div>
    </div>

    <div class="col-span-1 lg:col-span-1 md:col-span-1 max-w-sm h-full bg-white rounded-lg border m-auto border-gray-100 shadow-lg">
      <div class="p-5">
        <%= image_tag('HeadShot.png', class: 'rounded-lg m-auto') %>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black mb-5">Commissioner</h5>
          <h6 class="mb-2 text-1xl font-bold tracking-tight text-gray-800">Owen Snyder</h6>
          <ul>
            <li><span class="font-bold">League Member:</span> 2015-Present</li>
            <li><span class="font-bold">Commissioner Tenure:</span> 2019-Present</li>
            <li><span class="font-bold">Rings:</span> 1</li>
            <li><span class="font-bold">NFL Team:</span> The New York Football Giants</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 rounded-r-md mb-10">
        <% if @last_year_power_ranking.present? %>
          <a href="<%= power_ranking_path(@last_year_power_ranking.id) %>" class="flex flex-col mt-10 items-center w-full bg-slate-200 rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-slate-200 dark:bg-slate-200 dark:hover:bg-slate-200">
            <%= image_tag(@last_year_power_ranking.pr_avatar, class: 'object-cover w-full h-full rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg') %>
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:to-black"><%= @last_year %> Power Rankings</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Revisit last years power rankings</p>
            </div>
          </a>
      <% end %>

    <a href="/ymwhb/history" class= "flex flex-col mt-10 items-center bg-slate-200 rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-slate-200 dark:bg-slate-200 dark:hover:bg-slate-200">
      <%= image_tag('trophy.png', class: 'object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg') %>
      <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:to-black">Past Champions</h5>
      </div>
    </a>
  </div>
    <footer class="mt-10 p-4 bg-white rounded-lg md:flex md:items-center md:justify-between md:p-6">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2015 <a href="/" class="hover:underline">YMWHB™</a>
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="/power_rankings/years" class="mr-4 hover:underline md:mr-6 ">Power Rankings</a>
          </li>
          <li>
              <a href="/teams" class="mr-4 hover:underline md:mr-6">Teams</a>
          </li>
      </ul>
  </footer>
</div>


